<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="commonMethods.Listeners"/>
    </listeners>
    <test name="selenium2024-practise">
    <classes>
        <class name="insuranceCalculation_Motorcycle.EndToEndTests_Motorcycle">
    </class>
    </classes>
</test>
</suite>